.detailform{
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom:100px;
}
.title{
    background-color: #f1f1f1;
    color: grey;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
    width: 100%;
} 
  
button{
    background-color: #f05f25;
    color: #fff;
}

.backbutton {
    float: right;
    bottom: 32px;
    margin-right: 2%;
}

.mat-card-title {
    font-size: 18px !important;
    margin-bottom: 35px;
}

.card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 15px !important;
    border-radius: 2px;
}

.exam_name{
    position: absolute;
    font-size: 19px;
}

.examButton{
    left:280px;
}

.noExamSpan{
    position: absolute; 
    top:5px;
}

.noExamPara{
    position: relative;   
    font-size: 19px;
}

.blur{
    opacity: .5;
  }