
.example-container {
  margin-left: 15px;
  margin-right: 15px;
  display: block;
}

.bgclr{
  background-color: #f9f9f9;
}

.example-header {
  min-height: 64px;
  padding: 8px 2px 0;
} 

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mybutton{
  float: right;
  background-color: #f05f25;
  color: #fff;
}

.mat-cell, .mat-header-cell {
  flex: 1;
  font-size: 12px !important;
  word-wrap: break-word;
}


table, mat-card{
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif !important;
  
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content{
  background-color: #f9f9f9 !important;
  width:100%!important;
}

.Norecord{
  font-size: 19px;
  font-weight: 400;
}

.blur{
  opacity: .5;
}
